<div class="cards container" style="display: flex; flex-direction: row;">
    <div class="card" style="width: 18rem;" *ngFor="let producto of productos">
    <img src="../../../../assets/imagenes/referencias/{{producto.imagen}} " alt="{{producto.imagen}}">
    <div class="card-body">
      <h5 class="card-title">{{producto.descripcion }}</h5>
      <p class="card-text">Ref: {{producto.referencia}}</p>
      <p class="card-text">Marca: {{producto.marca.marca}}</p>
      <p class="card-text">Color: {{producto.color.color}}</p> 
      <h4 class="card-text"> $ {{producto.valorUnitario}} </h4>
      <a href="#" class="btn btn-primary">Agregar al carrito</a>
    </div>
</div>