.fondo{
    background-image: url(../../src/assets/imagenes/store-gd39d33bf9_1280.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 130vh;
}